<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Назва вашого сайту</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,whgt@0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <title>Заголовок з ефектом зникнення та логотипом</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header" class="header-visible">"Екзотична галерея" Даний сайт-галерея не є комерційною діяльністю, а являється завданням курсової роботи студента</div>
    <div class="content">
    </div>


    
    <button class="nav-toggle" onclick="toggleNav()">Меню</button>
    <nav class="navigation-panel" id="navigationPanel"></nav>
    <div class="overlay" id="overlay">
        <div class="menu-window">
            <button class="menu-btn">Екзотичні рослини</button>
            <button class="menu-btn">Екзотичні тварини</button>
            <button class="menu-btn">Про розробника</button>
        </div>
    </div>
    
    <section class>
        <div class="accordion open">
            <div>
                <div>
                    <h1>Тасса chantrieri</h1>
                    <p>"Чорний кажан", є тропічною рослиною з незвичними темно-фіолетовими або майже чорними квітками, що нагадують крила кажана. Вона походить з Південно-Східної Азії, зокрема з Таїланду та Малайзії, і віддає перевагу затіненим місцям з високою вологістю.</p>
                </div>
            </div>
        </div>
                <div class="accordion">
                    <div>
                        <div>
                            <h1> Jade Vine </h1>
                            <p>"Нефритова лоза" зустрічається у тропічних лісах Філіппін і є рідкісною через втрату природного середовища. Її квіти досягають трьох метрів і приваблюють кажанів та метеликів.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div>
                        <div>
                            <h1> Middlemist </h1>
                            <p>"Камелія Middlemist", є однією з найрідкісніших квітів у світі з двома відомими екземплярами у Новій Зеландії та Великобританії. Привезена до Англії з Китаю у 1804 році ботаніком Джоном Міддлмістом.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div>
                        <div>
                            <h1> Amorphophallus titanum </h1>
                            <p>"Трупна квітка", має одну з найбільших і найнеприємніше пахнучих квіток у світі. Її суцвіття досягає трьох метрів і пахне гниючим м'ясом, щоб привабити м'ясних мух. Походить з тропічних лісів Суматри, цвіте рідко, раз на 7-10 років.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div>
                        <div>
                            <h1> Nepenthes Attenboroughii </h1>
                            <p>Названа на честь натураліста сера Девіда Атенборо, є великим видом хижої рослини з гір центрального Палавана на Філіппінах. Використовує великі глечики для ловлі комах і дрібних тварин, таких як миші. Глечики можуть досягати 30 см висоти.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div>
                        <div>
                            <h1> Rafflesia arnoldi </h1>
                            <p>"Рафлезія Арнольда" має найбільші квітки у світі, до 1,5 метра в діаметрі. Зустрічається у тропічних лісах Індонезії, виділяє сильний запах гниючих рослин для приваблення комах. Є паразитом на ліанах, не має стебла, листя чи коренів.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div>
                        <div>
                            <h1> Passiflora </h1>
                            <p>"Квітка пристрасті", має понад 500 видів, переважно у тропічних і субтропічних регіонах. Її квіти мають складну будову і яскраве забарвлення. Використовується в медицині для зменшення тривоги та безсоння, а деякі види дають їстівні плоди, відомі як маракуя.</p>
                        </div>
                    </div>
                </div>
           <script type="text/javascript" src="static/script.js"></script>
    </section>
    <section class="second-section">
        <div class="accordion open">
            <div>
                <div>
                    <h1> Alcedo atthis </h1>
                    <p>"Рубіновий водомороз" є невеликим, яскраво забарвленим птахом з блакитним оперенням і оранжевим черевцем. Відомий своїм умінням полювати на рибу, пірнаючи у воду з неймовірною швидкістю.</p>
                </div>
            </div>
        </div>
                <div class="accordion">
                    <div>
                        <div>
                            <h1> Harpia harpyja </h1>
                            <p>"Гарпія велика" є однією з найбільших і найпотужніших хижих птахів у світі. Зустрічається в тропічних лісах Південної і Центральної Америки. Здатна піднімати великих тварин, таких як лінивці і мавпи.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div>
                        <div>
                            <h1> Strigops habroptilus </h1>
                            <p>"Олень чубатий" є невеликим видом оленя, відомим своїм характерним "чубчиком" з довгого хутра на голові. Живе в гірських лісах Китаю і М'янми, веде переважно нічний спосіб життя.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div>
                        <div>
                            <h1> Cuon alpinus </h1>
                            <p>Червоний вовк або азійський дикий пес, є соціальним хижаком, що живе у великих зграях. Зустрічається в горах і лісах Азії, полює на копитних тварин і відомий своєю витривалістю та командною роботою під час полювання.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div>
                        <div>
                            <h1> Psychedelic Frogfish </h1>
                            <p>"Психоделічна риба-жаба" має яскраве забарвлення з візерунками, що нагадують психоделічні візерунки. Ця риба живе в коралових рифах Індонезії і здатна швидко змінювати свій колір для маскування. Її тіло нагадує губку, що допомагає маскуватися.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div>
                        <div>
                            <h1> Orcaella brevirostris </h1>
                            <p>"Іравадійський дельфін" є річковим і прибережним морським дельфіном, відомим своїм куполоподібним чолом і коротким рилом. Зустрічається в водах Південно-Східної Азії. Відомий своєю дружелюбністю та здатністю адаптуватися до життя в прісній воді.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div>
                        <div>
                            <h1> Elaphodus cephalophus </h1>
                            <p>"Папуга Какапо" є нічним, нелітним папугою, що мешкає на Новій Зеландії. Відомий своєю великою вагою і тривалим життям, що може перевищувати 90 років. Через своє невміння літати і рідкісність, какапо знаходиться під загрозою вимирання.</p>
                        </div>
                    </div>
                </div>
           <script type="text/javascript" src="static/script.js"></script>
    </section>
    <section id="about-author">
        <div class="inst">
            <a href="https://www.instagram.com/vova.n4ik_?igsh=MThnOWEwZGoyZjM2MQ==">
                <img src="static/img/inst.png" alt="Instagram">
            </a>
        </div>
        <div class="author-info">
            <img src="static/img/photo.jpg" alt="Фото автора">
            <div class="author-text">
            
                <h2>Луцук Володимир Юрійович</h2>
                <p>Дата народження: 24.05.2005</p>
                <p>Навчаюся в Луцькому національному технічному університеті на 2 курсі спеціальності Комп'ютерні науки</p>
                <p>Хобі: волейбол, вивчення веб дизайну, настільні та комп'ютерні ігри</p>
                <p>Роботи що стосуються цього проекту:</p>
                <ul>
                    <li><a href="https://www.figma.com/design/JBZxiB19uQrFQvVV7FGcQq/Untitled?node-id=0%3A1&t=MPM5h7aKqKtU9jds-1">Макет в Figma</a></li>
                    <li><a href="https://www.canva.com/design/DAGC1g0zwMY/kef8by6gLdRytKI3UZ6Xyg/watch?utm_content=DAGC1g0zwMY&utm_campaign=designshare&utm_medium=link&utm_source=editor">Реклама в Canva</a></li>    
                </ul>
                
            </div>
        </div>
        

        <div class="form-container" id="forma">
    <h2 class="form-title">Відгук про галерею та зв'язок з розробником</h2>
    <form action="https://api.web3forms.com/submit" method="POST">
        <input type="hidden" name="access_key" value="7f21f30d-24f0-46ac-8e24-7e3a8b4ea543">
        <input type="hidden" name="email" value="від: ">
        <div class="form-group">
            <label for="name">Ім'я:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Пошта:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="feedback">Відгук:</label>
            <textarea id="feedback" name="feedback" rows="4" required></textarea>
        </div>                
        <div class="form-group">
            <label for="status">Вибір статусу:</label>
            <select id="status" name="status" required>
                <option value="" disabled selected>Оберіть статус</option>
                <option value="Викладач">Викладач</option>
                <option value="Студент">Студент</option>
                <option value="Користувач мережі Інтернет">Користувач мережі Інтернет</option>
                <option value="Програміст професіонал">Програміст професіонал</option>
            </select>
        </div>
        <button type="submit">Відправити</button>
    </form>
</div>

    </section>
    
</body>

</html>